:root {
  font-family: 'Inter', system-ui, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main-blue: #00cec9;
  --color-white: #ffffff;
  --color-grey: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;

  font-family: var(font-family);
  font-optical-sizing: var(font-optical-sizing);
  font-weight: var(font-weight);
  font-style: var(font-style);

  background-color: var(--color-white);
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}
